/* --------- burger --------- */

.burger {
	display: none;
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 1;
	cursor: pointer;

	@media screen and (max-width: 767px) {
		display: flex;
		align-self: center;
	}

	&__element {
		width: 100%;
		height: 2px;
		position: absolute;
		top: 9px;
		left: 0;
		background-color: #333;
	}

	&:before,
	&:after {
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		background-color: #333;
		transition: .3s;
		content: '';
	}

	&:before { top: 0; }
	&:after { bottom: 0; }

	&.active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	&.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	&.active span {
		display: none;
	}

} // burger