.s2 {
	
	padding: 90px 0;
	background: #fff;

	@media screen and (max-width: 768px) {
		padding: 60px 0;
	}

	.products-list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;

		@media screen and (min-width: 900px) and (max-width: 1200px) {
			gap: 70px;
		}
	}

	.product {

		width: 255px;

		@media screen and (max-width: 1450px) {
			width: calc(25% - 22.5px);
		}

		@media screen and (min-width: 900px) and (max-width: 1200px) {
			width: calc(40% - 15px);
			margin-bottom: 40px;
		}

		@media screen and (max-width: 899px) {
			width: calc(50% - 15px);
		}

		@media screen and (max-width: 576px) {
			width: 80%;
		}

		@media screen and (max-width: 376px) {
			width: 100%;
		}

		img {
			display: block;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 180px;
			margin-bottom: 20px;

			@media screen and (min-width: 768px) and (max-width: 1200px) {
				height: calc(180px * 1.5);
			}

			@media screen and (max-width: 767px) {
				height: calc(180px * 1.2);
			}

			@media screen and (max-width: 576px) {
				height: auto;
			}
		}

		h3 {
			color: #555;
			font-size: 30px;
			margin-bottom: 8px;
			font-weight: 400;

			@media screen and (max-width: 768px) {
				font-size: 24px;
			}
		}

		span {
			display: block;
			margin-bottom: 8px;
			color: #B5B5BD;
			font-size: 14px;
		}

		p {
			color: #85859B;
			font-size: 18px;
			line-height: 170%;
			margin-bottom: 20px;

			@media screen and (max-width: 768px) {
				font-size: 16px;
			}
		}

		a {
			position: relative;
			display: inline-block;
			color: #7875FE;
			font-size: 20px;
			transition: .33s;

			@media screen and (max-width: 768px) {
				font-size: 18px;
			}

			&:hover {
				color: #4946B4;

				&:after {
					color: #4946B4;
					margin-left: 12px;
				}
			}

			&:after {
				margin-left: 7px;
				display: inline-block;
				content: '>';
				color: #7875FE;
				transition: .33s;
			}
		}
	}
}