.s3 {
	
	padding: 90px 0;
	background: #ebebeb;

	@media screen and (max-width: 1200px) {
		padding: 60px 0;
	}

	.container {
		@media screen and (max-width: 1200px) {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}

	.brands {
		display: flex;
		gap: 30px;

		@media screen and (max-width: 1200px) {
			flex-wrap: wrap;
			width: 700px;
			justify-content: center;
		}

		@media screen and (max-width: 768px) {
			width: 100%;
		}

		@media screen and (max-width: 450px) {
			width: 255px;
		}
	}

	.brand {
		width: 255px;
		height: 135px;
		background-color: #ccc;

		@media screen and (max-width: 1200px) {
			width: calc(255px * 1.2);
			height: calc(135px * 1.2);
		}

		@media screen and (max-width: 768px) {
			width: 255px;
			height: 135px;
		}

		@media screen and (max-width: 576px) {
			width: calc(255px * 1.2);
			height: calc(135px * 1.2);
		}

		@media screen and (max-width: 450px) {
			width: 255px;
			height: 135px;
		}
	}
}