.s4 {
	
	.container {
		padding-top: 120px;
		padding-bottom: 90px;
		background: url('../images/dest/sketchbook.png') no-repeat;
		background-position: calc(100% - 20px) bottom;
	
		@media screen and (max-width: 1200px) {
			background-image: url('../images/dest/sketchbook_full.png');
			background-size: 560px auto;
			background-position: 100% 85%;
			padding-bottom: 120px;
		}

		@media screen and (max-width: 950px) {
			background-size: 500px auto;
			background-position: 100% 75%;
		}

		@media screen and (max-width: 850px) {
			background-size: 450px auto;
			background-position: center 50px;
			padding-top: 400px;
			padding-bottom: 60px;
		}

		@media screen and (max-width: 500px) {
			background-size: 90%;
			background-position: center 50px;
			padding-top: 380px;
		}

		@media screen and (max-width: 420px) {
			padding-top: 330px;
		}
	}

	h2 {
		font-weight: 400;
		font-size: 40px;
		margin-bottom: 20px;

		@media screen and (max-width: 850px) {
			font-size: 30px;
		}

		@media screen and (max-width: 420px) {
			font-size: 24px;
		}
	}

	p {
		max-width: 350px;
		font-size: 18px;
		line-height: 170%;
		margin-bottom: 30px;

		@media screen and (max-width: 850px) {
			max-width: 100%;
			font-size: 17px;
		}

		@media screen and (max-width: 420px) {
			font-size: 16px;
		}
	}

}